body {
    background-color: rgb(15, 129, 144);
    margin: 0;
    padding: 0;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
}
label {
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-weight: 200;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}